name: 'Auto Assign'

on:
  pull_request:
    types: [opened, ready_for_review, synchronize]

permissions:
  pull-requests: write
  contents: read

jobs:
  add-reviews:
    runs-on: ubuntu-latest
    steps:
      - name: Auto assign reviewers and assignees
        uses: kentaro-m/auto-assign-action@v2.0.0
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # with:
          # configuration-path: '.github/some_name_for_configs.yml' # Only needed if you use something other than .github/auto_assign.yml