name: PR Labeler

on:
  pull_request:
    types: [opened, ready_for_review, synchronize]

jobs:
  pr-labeler:
    permissions:
      contents: read
      pull-requests: write
      issues: write
      
    runs-on: ubuntu-latest
    steps:
      - name: Labeler
        uses: actions/labeler@v5
        with:
          configuration-path: .github/labeler.yml
          sync-labels: false
          dot: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
